<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Settings</title>
</head>
<body>
  <div class="user">
    <div class="container">
      <div class="user__settings">
        <p class="user__settings-name">Name: <span>{{ user.name }}</span></p>
        <p class="user__settings-password">Password: <span>{{ user.password }}</span></p>
        <p class="user__settings-date">Registered date: <span>{{ user.registered_date }}</span></p>
      </div>
    </div>
  </div>
</body>
</html>